{% extends 'layouts/main.njk' %}

{% block content %}

    <div>
        <h1 class="text-2xl font-bold mb-6">Edit Exam</h1>
        {%- include('pages/exams/partials/exam-edit-form.njk') %}
    </div>

{% endblock %}