<table class="table-auto">
    <tbody>
        <tr>
            <td class="px-4 py-2 font-bold">Id:</td>
            <td class="px-4 py-2">{{ exam.id }}</td>
        </tr>
        <tr>
            <td class="px-4 py-2 font-bold">Name:</td>
            <td class="px-4 py-2">{{ exam.name }}</td>
        </tr>
    </tbody>
</table>
